!!!
%html
	%head
		%title Rotz Standard Seite / haml
		%meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
		%link{"rel" => "stylesheet", "href" => "assets/style/css/style.css"}
	%body
	.container
		.row.main
			%section.cola.span2
				.wrap
					.block.logo
						%h1
							%a{:href => "/", :title => "Revolt.fm"}
								%img{:src => "assets/img/logo.png", :alt => "Revolt.fm"}
							
			%section.colb.span4
				.wrap
			%section.colc.span6
				.wrap
			.row.footer
