!!!
%html
	%head
		%meta{"charset" => "utf8"}
		%title Rotz Standard Seite / haml
		/[if lt IE 9]
			%script{"src" => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
		%meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0, maximum-scale=1"}

		%link{"rel" => "stylesheet/less", "href" => "assets/style/less/style.less", "type" => "text/css"}
		%link{"rel" => "stylesheet/less", "href" => "assets/style/less/responsive.less", "type" => "text/css"}
		%script{"src" => "assets/js/less.min.js"}
		%script{"src" => "assets/js/respond.min.js"}
	%body				
	.container
		.row
			.meta.span3
				.wrap
					.block.logo
						%h1
							%a{:href => "/", :title => "Revolt.fm"}
								%img{:src => "assets/img/logo_def.png", :alt => "Revolt.fm"}
			.row.main.span9
				.row.span9.upcomingshows
					%article.span3
						%a{"href" => "#"}
							%img{:src => "dummycontent/1.jpg"}
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/1.jpg"}
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/1.jpg"}
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/1.jpg"}
				.row.span9.upcomingevents
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/2.jpg"}
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/2.jpg"}
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/2.jpg"}
					%article.span2
						%a{"href" => "#"}
							%img{:src => "dummycontent/2.jpg"}
	.colabg.bgwrap
		&nbsp;
	.colbbg.bgwrap
		&nbsp;
	.colcbg.bgwrap
		&nbsp;
	.bg.bgwrap
		&nbsp;
	%script{"src" => "assets/js/jquery.min.js", "type" => "text/javascript"}
	%script{"type" => "text/javascript"}
		$(document).ready(function(){ $('img.blingbling').each(function() { var imgClass = $(this).attr('class'); $(this).wrap('<span class="image-wrap ' + imgClass + '" style="width: auto; height: auto;"/>'); $(this).removeAttr('class'); }); });
