!!!
%html
	%head
		%title Rotz Standard Seite / haml
		%meta{"charset" => "utf8"}
		%meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
		%link{"rel" => "stylesheet", "href" => "assets/style/css/style.css"}
	%body
	%nav.mainnav
		.container
			.row
				%ul.span5.offset7
					%li
						%a{:href => "#"} Index
					%li
						%a{:href => "#"} Radio
					%li
						%a{:href => "#"} Termine
					%li
						%a{:href => "#"} Verein
				
	.container
		.row.main
			%section.cola.span3
				.wrap
					%article.block.logo
						%h1
							%a{:href => "/", :title => "Revolt.fm"}
								%img{:src => "assets/img/logo_neg.png", :alt => "Revolt.fm"}
							
			%section.colb.span4
				.wrap
					%a.play{:href => "#", :title =>"Revolt.fm Webstream anhören"} Stream anhören!
					%article.node
						%h3 Lorem Ipsum
						%img{:src => "dummycontent/1.jpg"}
						%p
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis orci dui, eu iaculis risus. Vestibulum venenatis rutrum diam sed commodo. Nulla vitae eros sit amet risus consequat lobortis. Proin justo ipsum, interdum a semper ornare, egestas nec lectus. Sed dolor lectus, feugiat eu bibendum non, porta eu neque. Integer ultrices lacus non velit condimentum vel luctus neque aliquet. Nulla facilisi. Nullam malesuada dictum fermentum. Integer eget ligula ligula, eu venenatis urna. Nulla sit amet ipsum metus, sit amet euismod dolor. Suspendisse elementum, metus non sodales accumsan, velit mi varius dolor, at malesuada enim lectus vel erat. Pellentesque egestas tellus eget velit suscipit auctor. Vestibulum luctus dolor est, non accumsan elit. Ut mollis semper dapibus.				
					%article.node
						%h2 Lorem Ipsum
						%p
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis orci dui, eu iaculis risus. Vestibulum venenatis rutrum diam sed commodo. Nulla vitae eros sit amet risus consequat lobortis. Proin justo ipsum, interdum a semper ornare, egestas nec lectus. Sed dolor lectus, feugiat eu bibendum non, porta eu neque. Integer ultrices lacus non velit condimentum vel luctus neque aliquet. Nulla facilisi. Nullam malesuada dictum fermentum. Integer eget ligula ligula, eu venenatis urna. Nulla sit amet ipsum metus, sit amet euismod dolor. Suspendisse elementum, metus non sodales accumsan, velit mi varius dolor, at malesuada enim lectus vel erat. Pellentesque egestas tellus eget velit suscipit auctor. Vestibulum luctus dolor est, non accumsan elit. Ut mollis semper dapibus.
						%p
							Duis ac tortor massa. Integer tempor commodo porta. Donec ultricies odio ac nisl luctus eget pulvinar dui pellentesque. Nunc in mattis enim. Vestibulum semper felis cursus turpis congue facilisis non sit amet nulla. Praesent vestibulum hendrerit malesuada. Cras sit amet felis vel libero egestas mattis ultrices eget lorem. Nullam in enim leo. Donec at ligula lacus. Aliquam pharetra ligula id tellus tincidunt fringilla. In ac arcu eros. Cras a dolor risus.
			%section.colc.span5
				.wrap
					.view
						%article.node
							%h1 Mashinima @ Ivi Frankfurt
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis orci dui, eu iaculis risus. Vestibulum venenatis rutrum diam sed commodo. Nulla vitae eros sit amet risus consequat lobortis. Proin justo ipsum, interdum a semper ornare, egestas nec lectus. Sed dolor lectus, feugiat eu bibendum non, porta eu neque. Integer ultrices lacus non velit condimentum vel luctus neque aliquet. Nulla facilisi. Nullam malesuada dictum fermentum. Integer eget ligula ligula, eu venenatis urna. Nulla sit amet ipsum metus, sit amet euismod dolor. Suspendisse elementum, metus non sodales accumsan, velit mi varius dolor, at malesuada enim lectus vel erat. Pellentesque egestas tellus eget velit suscipit auctor. Vestibulum luctus dolor est, non accumsan elit. Ut mollis semper dapibus.
							%p
								Duis ac tortor massa. Integer tempor commodo porta. Donec ultricies odio ac nisl luctus eget pulvinar dui pellentesque. Nunc in mattis enim. Vestibulum semper felis cursus turpis congue facilisis non sit amet nulla. Praesent vestibulum hendrerit malesuada. Cras sit amet felis vel libero egestas mattis ultrices eget lorem. Nullam in enim leo. Donec at ligula lacus. Aliquam pharetra ligula id tellus tincidunt fringilla. In ac arcu eros. Cras a dolor risus.
						%article.node
							%h3 Lorem Ipsum
							%img{:src => "dummycontent/2.jpg"}
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis orci dui, eu iaculis risus. Vestibulum venenatis rutrum diam sed commodo. Nulla vitae eros sit amet risus consequat lobortis. Proin justo ipsum, interdum a semper ornare, egestas nec lectus. Sed dolor lectus, feugiat eu bibendum non, porta eu neque. Integer ultrices lacus non velit condimentum vel luctus neque aliquet. Nulla facilisi. Nullam malesuada dictum fermentum. Integer eget ligula ligula, eu venenatis urna. Nulla sit amet ipsum metus, sit amet euismod dolor. Suspendisse elementum, metus non sodales accumsan, velit mi varius dolor, at malesuada enim lectus vel erat. Pellentesque egestas tellus eget velit suscipit auctor. Vestibulum luctus dolor est, non accumsan elit. Ut mollis semper dapibus.
							%p
								Duis ac tortor massa. Integer tempor commodo porta. Donec ultricies odio ac nisl luctus eget pulvinar dui pellentesque. Nunc in mattis enim. Vestibulum semper felis cursus turpis congue facilisis non sit amet nulla. Praesent vestibulum hendrerit malesuada. Cras sit amet felis vel libero egestas mattis ultrices eget lorem. Nullam in enim leo. Donec at ligula lacus. Aliquam pharetra ligula id tellus tincidunt fringilla. In ac arcu eros. Cras a dolor risus.
						%article.node
							%h2 Lorem Ipsum
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis orci dui, eu iaculis risus. Vestibulum venenatis rutrum diam sed commodo. Nulla vitae eros sit amet risus consequat lobortis. Proin justo ipsum, interdum a semper ornare, egestas nec lectus. Sed dolor lectus, feugiat eu bibendum non, porta eu neque. Integer ultrices lacus non velit condimentum vel luctus neque aliquet. Nulla facilisi. Nullam malesuada dictum fermentum. Integer eget ligula ligula, eu venenatis urna. Nulla sit amet ipsum metus, sit amet euismod dolor. Suspendisse elementum, metus non sodales accumsan, velit mi varius dolor, at malesuada enim lectus vel erat. Pellentesque egestas tellus eget velit suscipit auctor. Vestibulum luctus dolor est, non accumsan elit. Ut mollis semper dapibus.
							%p
								Duis ac tortor massa. Integer tempor commodo porta. Donec ultricies odio ac nisl luctus eget pulvinar dui pellentesque. Nunc in mattis enim. Vestibulum semper felis cursus turpis congue facilisis non sit amet nulla. Praesent vestibulum hendrerit malesuada. Cras sit amet felis vel libero egestas mattis ultrices eget lorem. Nullam in enim leo. Donec at ligula lacus. Aliquam pharetra ligula id tellus tincidunt fringilla. In ac arcu eros. Cras a dolor risus.
						%article.node
							%h2 Lorem Ipsum
							%p
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis orci dui, eu iaculis risus. Vestibulum venenatis rutrum diam sed commodo. Nulla vitae eros sit amet risus consequat lobortis. Proin justo ipsum, interdum a semper ornare, egestas nec lectus. Sed dolor lectus, feugiat eu bibendum non, porta eu neque. Integer ultrices lacus non velit condimentum vel luctus neque aliquet. Nulla facilisi. Nullam malesuada dictum fermentum. Integer eget ligula ligula, eu venenatis urna. Nulla sit amet ipsum metus, sit amet euismod dolor. Suspendisse elementum, metus non sodales accumsan, velit mi varius dolor, at malesuada enim lectus vel erat. Pellentesque egestas tellus eget velit suscipit auctor. Vestibulum luctus dolor est, non accumsan elit. Ut mollis semper dapibus.
							%p
								Duis ac tortor massa. Integer tempor commodo porta. Donec ultricies odio ac nisl luctus eget pulvinar dui pellentesque. Nunc in mattis enim. Vestibulum semper felis cursus turpis congue facilisis non sit amet nulla. Praesent vestibulum hendrerit malesuada. Cras sit amet felis vel libero egestas mattis ultrices eget lorem. Nullam in enim leo. Donec at ligula lacus. Aliquam pharetra ligula id tellus tincidunt fringilla. In ac arcu eros. Cras a dolor risus.
			.row.footer
	.colabg.bgwrap
		&nbsp;
	.colbbg.bgwrap
		&nbsp;
	.colcbg.bgwrap
		&nbsp;
	.bg.bgwrap
		&nbsp;