/*
Syntax error: Undefined variable: "$gridgutterwidth".
        on line 4 of sass/content.sass

1: .colb img,
2: .colc img
3: 	max-width: 100%
4: 	margin-left: -$gridgutterwidth/2 
5: 	height: auto
6: 
7: .cola img
8: 	max-width: 100%
9: 	height: auto

Backtrace:
sass/content.sass:4
/usr/lib/ruby/1.8/sass/script/variable.rb:39:in `_perform'
/usr/lib/ruby/1.8/sass/script/node.rb:61:in `perform'
/usr/lib/ruby/1.8/sass/script/unary_operation.rb:50:in `_perform'
/usr/lib/ruby/1.8/sass/script/node.rb:61:in `perform'
/usr/lib/ruby/1.8/sass/script/operation.rb:66:in `_perform'
/usr/lib/ruby/1.8/sass/script/node.rb:61:in `perform'
/usr/lib/ruby/1.8/sass/tree/prop_node.rb:132:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/1.8/sass/tree/rule_node.rb:191:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:59:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:37:in `perform'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:29:in `render'
/usr/lib/ruby/1.8/sass/plugin.rb:220:in `update_stylesheet'
/usr/lib/ruby/1.8/sass/plugin.rb:85:in `update_stylesheets'
/usr/lib/ruby/1.8/sass/plugin.rb:78:in `each'
/usr/lib/ruby/1.8/sass/plugin.rb:78:in `update_stylesheets'
/usr/lib/ruby/1.8/sass/plugin.rb:76:in `each'
/usr/lib/ruby/1.8/sass/plugin.rb:76:in `update_stylesheets'
/usr/lib/ruby/1.8/sass/plugin.rb:171:in `watch'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `call'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/1.8/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/1.8/fssm/path.rb:34:in `update'
/usr/lib/ruby/1.8/fssm/state/directory.rb:32:in `modified'
/usr/lib/ruby/1.8/fssm/state/directory.rb:31:in `each'
/usr/lib/ruby/1.8/fssm/state/directory.rb:31:in `modified'
/usr/lib/ruby/1.8/fssm/state/directory.rb:16:in `refresh'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/1.8/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/1.8/fssm.rb:17:in `monitor'
/usr/lib/ruby/1.8/sass/plugin.rb:164:in `watch'
/usr/lib/ruby/1.8/haml/exec.rb:437:in `watch_or_update'
/usr/lib/ruby/1.8/haml/exec.rb:349:in `process_result'
/usr/lib/ruby/1.8/haml/exec.rb:41:in `parse'
/usr/lib/ruby/1.8/haml/exec.rb:21:in `parse!'
/usr/bin/sass:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gridgutterwidth\".\A         on line 4 of sass/content.sass\A \A 1: .colb img,\A 2: .colc img\A 3: 	max-width: 100%\A 4: 	margin-left: -$gridgutterwidth/2 \A 5: 	height: auto\A 6: \A 7: .cola img\A 8: 	max-width: 100%\A 9: 	height: auto"; }
