/*
Syntax error: Undefined variable: "$baseline".
        on line 3 of sass/details.sass

1: // space to top so the mainnav's got room
2: .container
3: 	margin-top: 2 * $baseline
4: 	
5: // logo
6: .logo h1
7: 	line-height: 0
8: 	margin: 0

Backtrace:
sass/details.sass:3
/usr/lib/ruby/1.8/sass/script/variable.rb:39:in `_perform'
/usr/lib/ruby/1.8/sass/script/node.rb:61:in `perform'
/usr/lib/ruby/1.8/sass/script/operation.rb:67:in `_perform'
/usr/lib/ruby/1.8/sass/script/node.rb:61:in `perform'
/usr/lib/ruby/1.8/sass/tree/prop_node.rb:132:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/1.8/sass/tree/rule_node.rb:191:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `map'
/usr/lib/ruby/1.8/sass/tree/node.rb:322:in `perform_children'
/usr/lib/ruby/1.8/sass/tree/node.rb:313:in `perform!'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:59:in `perform!'
/usr/lib/ruby/1.8/sass/tree/node.rb:301:in `_perform'
/usr/lib/ruby/1.8/sass/tree/node.rb:209:in `perform'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:37:in `perform'
/usr/lib/ruby/1.8/sass/tree/root_node.rb:29:in `render'
/usr/lib/ruby/1.8/sass/plugin.rb:220:in `update_stylesheet'
/usr/lib/ruby/1.8/sass/plugin.rb:85:in `update_stylesheets'
/usr/lib/ruby/1.8/sass/plugin.rb:78:in `each'
/usr/lib/ruby/1.8/sass/plugin.rb:78:in `update_stylesheets'
/usr/lib/ruby/1.8/sass/plugin.rb:76:in `each'
/usr/lib/ruby/1.8/sass/plugin.rb:76:in `update_stylesheets'
/usr/lib/ruby/1.8/sass/plugin.rb:171:in `watch'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `call'
/usr/lib/ruby/1.8/fssm/path.rb:71:in `run_callback'
/usr/lib/ruby/1.8/fssm/path.rb:54:in `callback_action'
/usr/lib/ruby/1.8/fssm/path.rb:34:in `update'
/usr/lib/ruby/1.8/fssm/state/directory.rb:32:in `modified'
/usr/lib/ruby/1.8/fssm/state/directory.rb:31:in `each'
/usr/lib/ruby/1.8/fssm/state/directory.rb:31:in `modified'
/usr/lib/ruby/1.8/fssm/state/directory.rb:16:in `refresh'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:17:in `each'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:17:in `run'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:15:in `loop'
/usr/lib/ruby/1.8/fssm/backends/polling.rb:15:in `run'
/usr/lib/ruby/1.8/fssm/monitor.rb:24:in `run'
/usr/lib/ruby/1.8/fssm.rb:17:in `monitor'
/usr/lib/ruby/1.8/sass/plugin.rb:164:in `watch'
/usr/lib/ruby/1.8/haml/exec.rb:437:in `watch_or_update'
/usr/lib/ruby/1.8/haml/exec.rb:349:in `process_result'
/usr/lib/ruby/1.8/haml/exec.rb:41:in `parse'
/usr/lib/ruby/1.8/haml/exec.rb:21:in `parse!'
/usr/bin/sass:8
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$baseline\".\A         on line 3 of sass/details.sass\A \A 1: // space to top so the mainnav's got room\A 2: .container\A 3: 	margin-top: 2 * $baseline\A 4: 	\A 5: // logo\A 6: .logo h1\A 7: 	line-height: 0\A 8: 	margin: 0"; }
