/* html5doctor.com Reset Stylesheet */
/* v1.6.1 */
/* Last Updated: 2010-09-17 */
/* Author: Richard Clark - http://richclarkdesign.com */
/* Twitter: @rich_clark */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

/* change colours to suit your needs */
ins { background-color: #ffff99; color: black; text-decoration: none; }

/* change colours to suit your needs */
mark { background-color: #ffff99; color: black; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

/* change border colour to suit your needs */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; zoom: 1; }
.clearfix:after { clear: both; }

.container { margin-left: 25px; }

.cola, .colb, .colc { margin-top: 21px; }

.pull-right { float: right; }

.pull-left { float: left; }

.hide { display: none; }

.show { display: block; }

.row { zoom: 1; margin-left: -50px; }
.row:before, .row:after { display: table; content: ""; zoom: 1; }
.row:after { clear: both; }

.row > [class*="span"] { display: inline; float: left; margin-left: 50px; }

.span1 { width: 30px; }

.span2 { width: 110px; }

.span3 { width: 190px; }

.span4 { width: 270px; }

.span5 { width: 350px; }

.span6 { width: 430px; }

.span7 { width: 510px; }

.span8 { width: 590px; }

.span9 { width: 670px; }

.span10 { width: 750px; }

.span11 { width: 830px; }

.span12 { width: 910px; }

.span13 { width: 990px; }

.span14 { width: 1070px; }

.span15 { width: 1150px; }

.span16 { width: 1230px; }

.span17 { width: 1310px; }

.span18 { width: 1390px; }

.span19 { width: 1470px; }

.span20 { width: 1550px; }

.span21 { width: 1630px; }

.span22 { width: 1710px; }

.span23 { width: 1790px; }

.span24 { width: 1870px; }

.row > .offset1 { margin-left: 130px; }
.row > .offset2 { margin-left: 210px; }
.row > .offset3 { margin-left: 290px; }
.row > .offset4 { margin-left: 370px; }
.row > .offset5 { margin-left: 450px; }
.row > .offset6 { margin-left: 530px; }
.row > .offset7 { margin-left: 610px; }
.row > .offset8 { margin-left: 690px; }
.row > .offset9 { margin-left: 770px; }
.row > .offset10 { margin-left: 850px; }
.row > .offset11 { margin-left: 930px; }
.row > .offset12 { margin-left: 1010px; }

.span-one-third { width: 300px; }

.span-two-thirds { width: 620px; }

.row > .offset-one-third { margin-left: 340px; }
.row > .offset-two-thirds { margin-left: 660px; }

.container { margin-top: 42px; }

.logo h1 { line-height: 0; margin: 0; }

nav.mainnav { position: fixed; display: none; top: 0; left: 0; right: 0; width: 100%; z-index: 99999; height: 33.6px; background: #090909; margin-left: -5.25px; font-size: 14px; -webkit-box-shadow: 0 0px 63px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0px 63px rgba(0, 0, 0, 0.2); box-shadow: 0 0px 63px rgba(0, 0, 0, 0.2); filter: alpha(opacity=90); -khtml-opacity: 0.9; -moz-opacity: 0.9; opacity: 0.9; }
nav.mainnav .container { margin-top: 0; }

nav.mainnav ul li { display: inline; float: left; margin: 7px 10.5px 5.25px 0; }

nav.mainnav ul li a { display: block; padding: 0 5.25px; line-height: 21px; color: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
nav.mainnav ul li a:hover { background: #151515; text-decoration: none; }

.play { color: white; line-height: 42px; padding: 10.5px 21px; border-top: 1px solid #2fb4f4; border-bottom: 1px solid #064a6b; -webkit-box-shadow: 0 0 5.25px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 5.25px rgba(0, 0, 0, 0.2); box-shadow: 0 0 5.25px rgba(0, 0, 0, 0.2); background-colour: #086c9c; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, left bottom, from(#0c9ee5), to(#086c9c)); background-image: -moz-linear-gradient(top, #0c9ee5, #086c9c); background-image: -ms-linear-gradient(top, #0c9ee5, #086c9c); background-image: -webkit-gradient(linear, left top, left bottom, colour-stop(0%, #0c9ee5), colour-stop(100%, #086c9c)); background-image: -webkit-linear-gradient(top, #0c9ee5, #086c9c); background-image: -o-linear-gradient(top, #0c9ee5, #086c9c); background-image: linear-gradient(top, #0c9ee5, #086c9c); filter: progid:DXImageTransform.Microsoft.gradient(startcolourstr='#0c9ee5', endcolourstr='#086c9c', GradientType=0); -webkit-border-radius: 21px; -moz-border-radius: 21px; border-radius: 21px; filter: alpha(opacity=95); -khtml-opacity: 0.95; -moz-opacity: 0.95; opacity: 0.95; }
.play:hover { color: white; text-shadow: 0px 2px 5px #064a6b; text-decoration: none; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; }

.bgwrap { position: fixed; width: 100%; height: 100%; left: 0; right: 0; bottom: 0; top: 0; z-index: -999; }

.colabg { width: 240px; left: 0; background: #090909; }

.colbbg { width: 560px; left: 0; z-index: -1004; background: #222222; }

.colcbg { width: 960px; z-index: -1014; background: #f7f7f7; }

.bg { z-index: -1024; background-colour: #eaeaea; background-repeat: repeat-x; background-image: -khtml-gradient(linear, left top, right top, from(#848484), to(#eaeaea)); background-image: -moz-linear-gradient(left, #848484, #eaeaea); background-image: -ms-linear-gradient(left, #848484, #eaeaea); background-image: -webkit-gradient(linear, left top, right top, colour-stop(0%, #848484), colour-stop(100%, #eaeaea)); background-image: -webkit-linear-gradient(left, #848484, #eaeaea); background-image: -o-linear-gradient(left, #848484, #eaeaea); background-image: linear-gradient(left, #848484, #eaeaea); filter: progid:DXImageTransform.Microsoft.gradient(startcolourstr='#848484', endcolourstr='#eaeaea', GradientType=1); }

@font-face { font-family: "droid sans"; src: url("../../fonts/DroidSans-webfont.eot"); src: url("../../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/fonts/DroidSans-webfont.woff") format("woff"), url("../../fonts/DroidSans-webfont.ttf") format("truetype"), url("../../fonts/DroidSans-webfont.svg#DroidSansRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: "droid sans"; src: url("../../fonts/DroidSans-Bold-webfont.eot"); src: url("../../fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../../fonts/DroidSans-Bold-webfont.svg#DroidSansBold") format("svg"); font-weight: bold; font-style: normal; }

body { margin: 0; color: #555555; line-height: 21px; font-size: 15px; font-family: "droid sans", sans-serif; }

p { margin: 0 0 21px 0; }

a { color: #086c9c; text-decoration: none; line-height: inherit; font-weight: inherit; }
a:hover { color: #064a6b; text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; color: #222222; font-family: "droid sans", sans-serif; }

h1 { font-size: 52.5px; line-height: 63px; margin: 0 0 21px 0; letter-spacing: -0.05em; }

h2 { font-size: 37.5px; line-height: 42px; margin: 42px 0 21px 0; letter-spacing: -0.03em; }

h3 { font-size: 22.5px; line-height: 21px; margin: 56.7px 0 27.3px 0; letter-spacing: -0.01em; }

.cola img, .colb img, .colc img { max-width: 100%; height: auto; }
