.colb img,
.colc img
	max-width: 100%
	margin-left: -$gridgutterwidth/2 
	height: auto

.cola img
	max-width: 100%
	height: auto
	
.colb img
	max-width: ($colbspan * $gridcolumnwidth) + ($colbspan * $gridgutterwidth) + 2
	
.colc img
	margin-left: - ($gridgutterwidth/2 - 2)
	max-width: ($colcspan * $gridcolumnwidth) + ($colcspan * $gridgutterwidth) - 2
