.row > [class*="span"]
	@include gridcolumn()

// Default columns
// For option 24-column grid
@for $i from 1 through 24
	.span#{$i}
		@include columns($i)

// Offset column options
.row
	@for $i from 1 through 12
		> .offset#{$i}
			@include offset($i)

// Unique column sizes for 16-column grid
.span-one-third
	width: 300px
.span-two-thirds
	width: 620px
.row
	> .offset-one-third
		margin-left: 340px
	> .offset-two-thirds
		margin-left: 660px
