// Colour palette
$rotz1:							#EAEAEA
$rotz2:							#222222
$rotz3:							#086C9C
$rotz4:							#FF3500
$rotz5:							#555555

// mapping to function-related colour variables
$bgcolour:					$rotz1
$basefontcolour:		$rotz5
$basefontcolournegative:	$bgcolour
$linkcolour:				$rotz3
$linkcolourhover:		darken($rotz3, 10%)

// gradient colours
$linkgradient1:			lighten($rotz3, 15%)
$linkgradient2:			$rotz3
$buttoncolour:			lighten($rotz1, 40%)
$buttoncolourhover:	lighten($rotz1, 50%)

// typography & baseline
$basefontsize:      15px
$smallfontsize:			14px
$baseline:          21px
$hfontweight:				bold
$hfontcolour:				$rotz2

// Grid
$gridcolumns:       12
$gridcolumnwidth:   30px
$gridgutterwidth:   50px
$extraspace:        ($gridgutterwidth * 2)
// For our grid calculations
$sitewidth:         ($gridcolumns * $gridcolumnwidth) + ($gridgutterwidth * ($gridcolumns - 1))

// colspans
$colaspan:					3
$colbspan:					5
$colcspan:					4


// layer defintion ($bglayer is default sub-layer)
$bglayer:						-999
$toplayer:					999

