// Typography.less
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------

body {
	font-size: @baseFontSize;
	font-family: @baseFontFamily;
	line-height: @baseLineHeight;
	color: @baseFontColour;
}

h1 {
	font-size: 3.5 * @baseFontSize;
	font-family: @baseFontFamily;
	line-height: 3 * @baseLineHeight;
	margin: (2*@baseLineHeight) 0 @baseLineHeight 0;
}
h2 {
	font-size: 2.5 * @baseFontSize;
	font-family: @baseFontFamily;
	line-height: 2 * @baseLineHeight;
	margin: (1.5*@baseLineHeight) 0 @baseLineHeight 0;
}
h3 {
	font-size: 1.5 * @baseFontSize;
	font-family: @baseFontFamily;
	line-height: @baseLineHeight;
	margin: @baseLineHeight 0 @baseLineHeight/2 0;
}
