// Colour palette
@rotz1:							#EAEAEA;
@rotz2:							#222222;
@rotz3:							#086C9C;
@rotz4:							#FF3500;
@rotz5:							#555555;

// Background Gradient Colours
@rotzHead1:					#3990B9;
@rotzHead2:					#00547C;
@rotzMain1:					#222;
@rotzMain2:					#111;
@rotzSub1:					#eee;
@rotzSub2:					#ccc;

// mapping to function-related colour variables
@bgColour:					@rotz1;
@baseFontColour:		@rotz5;
@negativeFontColour:@bgColour;
@linkColour:				@rotz3;
@linkColourHover:		darken(@rotz3, 10%);

// ui gradient colours
@linkGradient1:			lighten(@rotz3, 15%);
@linkGradient2:			@rotz3;
@buttonColour:			lighten(@rotz1, 40%);
@buttonColourHover:	lighten(@rotz1, 50%);
@playButtonColour1:	darken(@rotzHead1, 10%);
@playButtonColour2: darken(@rotzHead2, 10%);

@baseFontSize: 15px;
@baseFontFamily: 'droid sans', sans-serif;
@baseLineHeight: 21px;

// GRID
// --------------------------------------------------

// Default 940px grid
@gridColumns: 12;
@gridColumnWidth: 50px;
@gridGutterWidth: 25px;
@gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));


// layer defintion (@bglayer is default sub-layer)
@bottomLayer:				-999;
@topLayer:					999;


